extends layout

block content 
  form(action='/hello', method='post')
    label(for="name") Please enter your name: 
    input(type="text", id='name' name='username') 
    button(type="submit") Submit