doctype html
html(lang="en")
  head
    title Landing page
  body
    h1 The future of home something magical! 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio similique inventore error iusto dolor, quisquam excepturi. Voluptatem delectus illum officia facilis quam vero velit optio laborum. Libero tenetur ipsam nihil.